* {
    font-family: sans-serif, sansserif;
}

input {
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid #aaa;
    width: 300px;
}

button {
    padding: 8px 5px;
    margin: 5px;
    min-width: 200px;
    background: rgb(93, 145, 223);
    color: #eee;
    border: 0;font-weight: bold;
    border-radius: 3px;
}

.message {
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}
.message.visible {
    display: block;
}
.good {
    background: rgb(98, 196, 98);
    color: white;
}

.bad {
    background: rgb(219, 74, 74);
    color: white;
}

.grise {
    color:grey;
}